core/build/
.vs
.vscode
build
Dump
.vscode
/AtomicDataSignalArray.hpp
/DOCS_USER
/venv
/core/pybind11
/core/out
/package-lock.json
/package.json
/build-release
/FUTUTE_DIRECTIONS
/PaperWritings
*.pdb
*.ilk
*.so
*.pyd
Documentation.md